{% extends "base.html" %}
{% block content %}
<h1>Blog posts!</h1>
<hr />
{% if posts|length == 0 %}
    <p>This user hasn't made any blog posts.</p>
{% else %}
    {% for post in posts | reverse %}
    <h3><a href="/blog?id={{ post.id }}">{{ post.title }}</a></h3>
    <p>{{ post.body }}</p>
    {% for user in users %}
        {% if post.owner_id == user.id  %}
            <p style="font-size: small">Written by <a href="/blog?user_id={{post.owner_id}}">{{ user.username }}</a></p>
        {% endif %}
    {% endfor %}
    <hr />
    {% endfor %}
{% endif %}
{% endblock %}